body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f6f7fb;
}

.app {
  margin: 50px auto 0;
  max-width: 1300px;
}

.tabs_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab_container {
  flex: 1;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

.tab_container_active {
  background-color: white;
  border-top: 3px solid #2e5e73;
}

.content_container {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  height: 700px;
}
